<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Cari Restaurant Favorit mu untuk berkumpul dan makan bersama keluarga, sahabat, dan pasangan.">
  <title>RestoFind</title>
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
  <link rel="manifest" href="/src/public/app.webmanifest">
</head>

<body>
  <nav-bar></nav-bar>
  <a href="#/main-content" class="skip-link">Skip to Content</a>
  <main id="content"></main>
  <footer>
    <footer-info></footer-info>
  </footer>
</body>

</html>